:root {
  --theme-color: #46166b;
  --body-color: #f4f0ed;
  --hover-color: #f7e400;
  --header-color: #561970;
}

body {
  background: var(--body-color);
  color: #373737;
  font-size: 14px;
  font-family: Arial, "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.625;
}
strong {
  font-weight: bold;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--theme-color);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--theme-color);
}

.nav-link {
  color: #eee !important;
  padding: 0.75rem 0;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold !important;
}

.navbar-nav .nav-link:hover {
  color: var(--hover-color) !important;
  text-decoration: none;
}

.main-header {
  background: var(--header-color);
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}
.main-header a {
  color: var(--hover-color);
}
.main-header a:hover {
  color: #fff;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.header-content p {
  margin: 0;
}

.title {
  clear: both;
  color: var(--theme-color);
  font-size: 24px !important;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.25em;
  padding-top: 10px;
}

.sub-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--theme-color);
}

.heading {
  font-size: 20px;
  color: var(--theme-color);
  margin: 0;
}

footer {
  background: #111;
  height: auto;
  width: 100%;
  padding: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
}

footer a{
  color: #fff;
}

.footer-social{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.footer-social .icon{
  width: 38px;
  height: 38px;
  background: #ffffff2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.footer-social .icon:hover{
  transform: scale(1.1);
}
.footer-social .icon img{
  width: 100%;
  height: 100%;
}

.rounded-12{
    border-radius: 12px !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .loginCard{
    max-width: 400px;
    margin: auto;
  }
}

